body, html{
    scroll-behavior: smooth;
    font-family: sans-serif;
}
header, section, article, footer {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 150px;
    background-color: rgb(29, 28, 28);
    position: sticky;
    top: 0;
    z-index: 1000;
}
section { 
    background-color: black;
    height: 500px;
}
article {
    background-color: black;
    height: 600px;
}
footer {
    background-color: rgb(29, 28, 28);
    height: 100px;
}
#titulo {
    height: 90px;
    width: 400px;
    float: right;
    text-align: center;
    margin-top: 50px;
}
h1 {
    font-size: 50px;
    color: red
}
h3 {
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
}
#botonesinicio {
    height: 150px;
    width: 800px;
    float: left;
}
#botonesinicio ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
#botonesinicio ul li {
    flex-grow: 1;
}
#botonesinicio ul li a {
    display: block;
    text-decoration: none;
    color: rgb(252, 247, 247);
    margin: 15px;
    padding: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(107, 2, 2);
    border-radius: 50px;
    border: 3px  rgb(107, 2, 2) solid;
}
#botonesinicio ul li a:hover {
    background-color: black;
}
.info {
    padding-top: 100px;
    padding-bottom: 150px;
    text-align: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: aliceblue;
}
#derechos {
    display: block;
    float: left;
    font-weight: bold;
    color:aliceblue;
    padding-left: 350px;
    margin-top: 45px;
}
#contacto {
    display: block;
    float: right;
    font-weight: bold;
    color: aliceblue;
    padding-right: 350px;
    margin-top: 35px;
}