body, html{
    scroll-behavior: smooth;
    font-family: sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 140px;
    background-color: rgb(190, 117, 75);
    position: sticky;
    top: 0;
    z-index: 1000;
}
section { 
    background-color: peru;
    height: 700px;
}
article {
    background-color: peru;
    height: 600px;
}
footer {
    background-color: rgb(190, 117, 75);
    height: 100px;
}
#titulo {
    height: 90px;
    width: 400px;
    float: left;
    text-align: center;
    margin-top: 50px;
}
h1 {
    font-size: 36px;
    color: aliceblue;
}
h3 {
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
}
#botonesinicio {
    height: 150px;
    width: 800px;
    float: right;
}
#botonesinicio ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
#botonesinicio ul li {
    flex-grow: 1;
}
#botonesinicio ul li a {
    display: block;
    text-decoration: none;
    color: black;
    margin: 15px;
    padding: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    background-color: burlywood;
    border-radius: 50px;
    border: 3px rgb(172, 76, 76) solid;
}
#botonesinicio ul li a:hover {
    background-color: rgb(231, 1, 1);
}
.info {
    padding-top: 100px;
    padding-bottom: 150px;
    margin-right: 100px;
    text-align: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    float: right;
}
.titulos {
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 5px;
}
#a-caja1 {
    height: 550px;
    width: 350px;
    background-image: url(imagenes/pizzas.webp);
    background-size: cover;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
}
#a-caja1 ul li {
    text-align: center;
    list-style-type: none;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    color: black;
}
#a-caja2 {
    height: 550px;
    width: 350px;
    background-image: url(imagenes/hambu.jpg);
    background-size: cover;
    float: left;
    margin-left: 120px;
    margin-top: 20px; 
}
#a-caja2 ul li {
    text-align: center;
    list-style-type: none;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    color: black;
}
#a-caja3 {
    height: 550px;
    width: 350px;
    background-image: url(imagenes/empanada.jpg);
    background-size: cover;
    float: right;
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 30px;
}
#a-caja3 ul li {
    text-align: center;
    list-style-type: none;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    color: black;
}
#otros {
    text-align: center;
    display: block;
    margin-top: 80px;
    margin-left: 300px;
    float: right;
}
.enlaces {
    color: black;
    font-size: 20px;
}
#redes {
    display: block;
    float: left;
    font-weight: bold;
    color:aliceblue;
    padding-left: 350px;
}
#ubicacion {
    display: block;
    float: right;
    font-weight: bold;
    color: aliceblue;
    padding-right: 350px;
}
#contenedor{
    width: 250px;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 120px;
    margin-top: 30px;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 10px;
    float: left;
    background-color: rgb(199, 115, 31);
}
#contenedor input {
    display: block;     
}
.borde{
    border: 3px solid rgb(172, 76, 76) ;
    border-radius: 15px;
    box-shadow: 5px 10px 7px rgb(182, 84, 19);
}
h1{
    text-align: center;
}
h2 {
    color: white;
}
#botones {
    background-color: rgb(226, 230, 1);
    color: black;
}
.errores {
    color: red;
}